h1 {
  font-family: Georgia, serif;
  font-size: 70px;
  text-align: center;
}

hr {
  border-width: 10px;
  background-color: black;
}

p {
  font-size: 20px;
}

.mainText {
  margin-left: 10px;
  margin-right: 10px;
}

.p1 {
  font-family: Georgia, serif;
  font-size: 30px;
  text-align: center;
}
