.contact-form {
  margin-left: 20px; /*margin from the left */
  margin-top: 50px; /*margin from the top */
  font-size: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

.text-boxes {
  font-size: 20px;
}

h2 {
  font-size: 15px;
}
